on init
    # Override fingerprint
    setprop ro.build.fingerprint ${ro.vendor.build.fingerprint}

    setprop sys.usb.ffs.aio_compat 1

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6763 /vendor/etc/fstab.mt6763 bind

    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind
    
    mount none /system/etc/fstab.enableswap /vendor/etc/fstab.enableswap bind

on fs
    mount_all /vendor/etc/fstab.mt6763 --early
    mount_all /vendor/etc/fstab.mt6763 --late

on post-fs
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6763

    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind

# Disable AOSP RIL if MTK RIL is up
on property:vendor.ril.mtk=1
    stop vendor.ril-daemon
