on init
    # Override fingerprint
    setprop ro.build.fingerprint ${ro.vendor.build.fingerprint}

    setprop sys.usb.ffs.aio_compat 1

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6763 /vendor/etc/fstab.mt6763 bind

    # A wretched solution for incoming calls (Hex edited)
    mount none /system/lib64/libmtk-ril.so /vendor/lib64/libmtk-ril.so bind
    
    mount none /system/etc/fstab.enableswap /vendor/etc/fstab.enableswap bind

on post-fs
    # Disable vendor overlays
    mount none /dev/null vendor/overlay/framework-res__auto_generated_rro.apk bind
    mount none /dev/null vendor/overlay/SysuiDarkTheme/SysuiDarkThemeOverlay.apk bind
    mount none /dev/null vendor/overlay/DisplayCutoutEmulationTall/DisplayCutoutEmulationTallOverlay.apk bind
    mount none /dev/null vendor/overlay/DisplayCutoutEmulationDouble/DisplayCutoutEmulationDoubleOverlay.apk bind
    mount none /dev/null vendor/overlay/DisplayCutoutEmulationCorner/DisplayCutoutEmulationCornerOverlay.apk bind
    
on post-fs-data
    # Disable serial console for MTK (A11 notification)
    setprop init.svc.console stopped

# Disable AOSP RIL if MTK RIL is up
on property:vendor.ril.mtk=1
    stop vendor.ril-daemon