on init
    # Override fingerprint
    setprop ro.build.fingerprint ${ro.vendor.build.fingerprint}

    setprop sys.usb.ffs.aio_compat 1

    # Solution for incoming calls (Hex edited) (Pie vendor)
    mount none /system/lib64/libmtk-ril.so /vendor/lib64/libmtk-ril.so bind

    # Force disable all VoLTE support -- it requires intensive modification of frameworks
    # without framework support it creates all sorts of problems. Disable it.
    setprop persist.vendor.mtk.volte.enable 0
    setprop persist.vendor.mtk_ct_volte_support 0
    setprop persist.dbg.allow_ims_off 1
    setprop persist.dbg.volte_avail_ovr 1
    setprop persist.dbg.vt_avail_ovr 1
    setprop persist.dbg.wfc_avail_ovr 1
    setprop persist.vendor.vilte_support 0    

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6763 /vendor/etc/fstab.mt6763 bind

on post-fs
    # Disable vendor overlays
    mount none /dev/null vendor/overlay/framework-res__auto_generated_rro.apk bind
    mount none /dev/null vendor/overlay/SysuiDarkTheme/SysuiDarkThemeOverlay.apk bind
    mount none /dev/null vendor/overlay/DisplayCutoutEmulationTall/DisplayCutoutEmulationTallOverlay.apk bind
    mount none /dev/null vendor/overlay/DisplayCutoutEmulationDouble/DisplayCutoutEmulationDoubleOverlay.apk bind
    mount none /dev/null vendor/overlay/DisplayCutoutEmulationCorner/DisplayCutoutEmulationCornerOverlay.apk bind
    
on post-fs-data
    # Disable serial console for MTK (A11 notification)
    setprop init.svc.console stopped

on property:sys.boot_completed=1
    # Toggle airplane mode on and off on boot to enable volte.
    # This hack needs ImsInit commit to request ims on boot to work properly.

    exec - root -- /system/bin/sh -c "sleep 3"
    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 1"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state true"

    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 0"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state false"